In [34]:
# librerias
import sys
import pandas as pd
import numpy as np

import joblib

from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import precision_score, accuracy_score, recall_score

In [35]:
### Asisting configuration
sys.path.append("..")

In [36]:
from src.utils.utils import load_df

In [37]:
from src.utils.funcs_task_2_feature import *
from src.utils.funcs_task_1_prepro import *
from src.utils.funcs_task_4_prediccion import *

In [39]:
model = load_df('../model/selected_model.pkl')

/Users/ele/.pyenv/versions/dpa_env/lib/python3.7/site-packages/sklearn/base.py:315: UserWarning: Trying to unpickle estimator LogisticRegression from version 0.24.2 when using version 0.24.1. This might lead to breaking code or invalid results. Use at your own risk.
  UserWarning)

In [157]:
df = pd.read_csv('../data/ds_challenge_apr2021.csv')

In [158]:
df

,ID_USER,genero,monto,fecha,hora,dispositivo,establecimiento,ciudad,tipo_tc,linea_tc,interes_tc,status_txn,is_prime,dcto,cashback,fraude
0,0,F,608.345634,2020-01-21,20,"{'model': 2020, 'device_score': 3, 'os': 'ANDR...",Super,Merida,Física,71000,51,Aceptada,False,60.834563,5.475111,False
1,0,F,88.719243,2020-01-15,7,"{'model': 2020, 'device_score': 1, 'os': 'ANDR...",NaN,Merida,Virtual,71000,51,Aceptada,False,0.000000,1.774385,False
2,1,F,790.037653,2020-01-17,11,"{'model': 2020, 'device_score': 1, 'os': '.'}",NaN,Guadalajara,Virtual,94000,56,En proceso,False,0.000000,15.800753,False
3,1,F,767.005387,2020-01-05,11,"{'model': 2020, 'device_score': 3, 'os': 'WEB'}",MPago,Guadalajara,Física,94000,56,Aceptada,False,0.000000,7.670054,False
4,1,F,254.171053,2020-01-30,10,"{'model': 2020, 'device_score': 3, 'os': '%%'}",NaN,Guadalajara,Física,94000,56,Aceptada,False,0.000000,2.541711,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
26970,3999,M,746.192089,2020-01-08,13,"{'model': 2020, 'device_score': 2, 'os': 'ANDR...",NaN,Toluca,Física,40000,56,Aceptada,False,0.000000,7.461921,False
26971,3999,M,941.804966,2020-01-14,15,"{'model': 2020, 'device_score': 2, 'os': 'WEB'}",NaN,Toluca,Física,40000,56,Aceptada,False,0.000000,9.418050,False
26972,3999,M,251.189885,2020-01-16,11,"{'model': 2020, 'device_score': 2, 'os': 'WEB'}",NaN,Toluca,Virtual,40000,56,Aceptada,False,0.000000,5.023798,False
26973,3999,M,24.182665,2020-01-13,17,"{'model': 2020, 'device_score': 5, 'os': '.'}",NaN,Toluca,Física,40000,56,Aceptada,False,2.418266,0.217644,False
26974,3999,M,517.209272,2020-01-03,20,"{'model': 2020, 'device_score': 5, 'os': 'ANDR...",MPago,Toluca,Física,40000,56,En proceso,False,0.000000,5.172093,False

In [159]:
df_nuevo = df.sort_values('fecha')

In [160]:
df_nuevo=df_nuevo.rename_axis('last_order').reset_index()

In [161]:
df_nuevo=df_nuevo.rename_axis('order_txn').reset_index()

In [162]:
df_peque = df_nuevo.iloc[26965:26975]

In [163]:
df_grande = df_nuevo.iloc[0:26964]

In [165]:
df_grande.to_csv('../data/historic_db_2021-01-01.csv',index=False)

In [166]:
df_peque.to_csv('../data/historic_db_2021-01-30.csv',index=False)

In [167]:
df1 = pd.read_csv('../data/historic_db_2021-01-30.csv')

In [168]:
df1

,order_txn,last_order,ID_USER,genero,monto,fecha,hora,dispositivo,establecimiento,ciudad,tipo_tc,linea_tc,interes_tc,status_txn,is_prime,dcto,cashback,fraude
0,26965,522,88,M,426.943902,2020-01-30,3,"{'model': 2020, 'device_score': 5, 'os': 'ANDR...",Abarrotes,NaN,Física,72000,49,Rechazada,False,0.000000,4.269439,False
1,26966,20084,2956,M,751.806003,2020-01-30,23,"{'model': 2020, 'device_score': 5, 'os': 'WEB'}",Super,Merida,Física,36000,36,Aceptada,False,0.000000,7.518060,False
2,26967,26134,3873,M,801.326533,2020-01-30,1,"{'model': 2020, 'device_score': 4, 'os': 'WEB'}",Restaurante,NaN,Física,33000,62,Aceptada,True,0.000000,8.013265,False
3,26968,20086,2956,M,449.934885,2020-01-30,20,"{'model': 2020, 'device_score': 3, 'os': 'ANDR...",Farmacia,Merida,Física,36000,36,Aceptada,False,89.986977,3.599479,False
4,26969,16232,2397,F,259.084586,2020-01-30,6,"{'model': 2020, 'device_score': 1, 'os': '%%'}",NaN,Merida,Virtual,43000,45,En proceso,False,0.000000,5.181692,False
5,26970,2465,360,F,91.773720,2020-01-30,20,"{'model': 2020, 'device_score': 4, 'os': 'WEB'}",Restaurante,Toluca,Virtual,68000,41,Aceptada,True,9.177372,1.651927,False
6,26971,10574,1582,--,600.481278,2020-01-30,3,"{'model': 2020, 'device_score': 4, 'os': '%%'}",Farmacia,Toluca,Virtual,70000,55,En proceso,False,0.000000,12.009626,False
7,26972,3936,600,F,891.672608,2020-01-30,3,"{'model': 2020, 'device_score': 3, 'os': 'WEB'}",MPago,Merida,Virtual,33000,63,Aceptada,False,0.000000,17.833452,False
8,26973,1104,182,F,415.251711,2020-01-30,12,"{'model': 2020, 'device_score': 5, 'os': '%%'}",NaN,Monterrey,Física,64000,58,En proceso,False,0.000000,4.152517,False
9,26974,8473,1278,M,121.633522,2020-01-30,16,"{'model': 2020, 'device_score': 5, 'os': '.'}",MPago,Toluca,Física,26000,63,Aceptada,False,0.000000,1.216335,True

In [171]:
df2 = pd.read_csv('../data/historic_db_2021-01-01.csv')

In [172]:
df2

,order_txn,last_order,ID_USER,genero,monto,fecha,hora,dispositivo,establecimiento,ciudad,tipo_tc,linea_tc,interes_tc,status_txn,is_prime,dcto,cashback,fraude
0,0,15990,2359,--,673.086916,2020-01-02,14,"{'model': 2020, 'device_score': 2, 'os': 'ANDR...",Restaurante,Guadalajara,Física,28000,59,Aceptada,False,0.000000,6.730869,False
1,1,18784,2769,F,786.180274,2020-01-02,10,"{'model': 2020, 'device_score': 4, 'os': 'ANDR...",NaN,NaN,Virtual,53000,62,Rechazada,False,0.000000,15.723605,False
2,2,817,137,F,426.597450,2020-01-02,12,"{'model': 2020, 'device_score': 5, 'os': 'WEB'}",Abarrotes,NaN,Física,45000,41,En proceso,True,85.319490,3.412780,False
3,3,18766,2765,M,730.553006,2020-01-02,22,"{'model': 2020, 'device_score': 1, 'os': '%%'}",MPago,Toluca,Física,46000,37,Aceptada,False,0.000000,7.305530,False
4,4,25595,3792,--,120.889329,2020-01-02,13,"{'model': 2020, 'device_score': 2, 'os': 'WEB'}",Farmacia,NaN,Física,99000,35,En proceso,True,12.088933,1.088004,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
26959,26959,20058,2949,F,972.231482,2020-01-30,12,"{'model': 2020, 'device_score': 5, 'os': 'WEB'}",Abarrotes,Toluca,Física,77000,46,Aceptada,False,0.000000,9.722315,False
26960,26960,3955,607,--,528.922742,2020-01-30,19,"{'model': 2020, 'device_score': 5, 'os': '%%'}",NaN,Monterrey,Virtual,62000,37,Aceptada,False,105.784548,8.462764,True
26961,26961,13783,2054,--,115.364655,2020-01-30,8,"{'model': 2020, 'device_score': 4, 'os': 'ANDR...",NaN,Toluca,Física,49000,60,Aceptada,False,0.000000,1.153647,False
26962,26962,7574,1152,F,627.942375,2020-01-30,8,"{'model': 2020, 'device_score': 2, 'os': '.'}",Abarrotes,Guadalajara,Virtual,38000,51,Aceptada,False,0.000000,12.558847,False
26963,26963,16264,2398,M,397.823656,2020-01-30,10,"{'model': 2020, 'device_score': 1, 'os': '%%'}",NaN,NaN,Física,35000,64,Aceptada,False,39.782366,3.580413,False

In [180]:
df1

,order_txn,last_order,ID_USER,genero,monto,fecha,hora,dispositivo,establecimiento,ciudad,tipo_tc,linea_tc,interes_tc,status_txn,is_prime,dcto,cashback,fraude
0,26965,522,88,M,426.943902,2020-01-30,3,"{'model': 2020, 'device_score': 5, 'os': 'ANDR...",Abarrotes,NaN,Física,72000,49,Rechazada,False,0.000000,4.269439,False
1,26966,20084,2956,M,751.806003,2020-01-30,23,"{'model': 2020, 'device_score': 5, 'os': 'WEB'}",Super,Merida,Física,36000,36,Aceptada,False,0.000000,7.518060,False
2,26967,26134,3873,M,801.326533,2020-01-30,1,"{'model': 2020, 'device_score': 4, 'os': 'WEB'}",Restaurante,NaN,Física,33000,62,Aceptada,True,0.000000,8.013265,False
3,26968,20086,2956,M,449.934885,2020-01-30,20,"{'model': 2020, 'device_score': 3, 'os': 'ANDR...",Farmacia,Merida,Física,36000,36,Aceptada,False,89.986977,3.599479,False
4,26969,16232,2397,F,259.084586,2020-01-30,6,"{'model': 2020, 'device_score': 1, 'os': '%%'}",NaN,Merida,Virtual,43000,45,En proceso,False,0.000000,5.181692,False
5,26970,2465,360,F,91.773720,2020-01-30,20,"{'model': 2020, 'device_score': 4, 'os': 'WEB'}",Restaurante,Toluca,Virtual,68000,41,Aceptada,True,9.177372,1.651927,False
6,26971,10574,1582,--,600.481278,2020-01-30,3,"{'model': 2020, 'device_score': 4, 'os': '%%'}",Farmacia,Toluca,Virtual,70000,55,En proceso,False,0.000000,12.009626,False
7,26972,3936,600,F,891.672608,2020-01-30,3,"{'model': 2020, 'device_score': 3, 'os': 'WEB'}",MPago,Merida,Virtual,33000,63,Aceptada,False,0.000000,17.833452,False
8,26973,1104,182,F,415.251711,2020-01-30,12,"{'model': 2020, 'device_score': 5, 'os': '%%'}",NaN,Monterrey,Física,64000,58,En proceso,False,0.000000,4.152517,False
9,26974,8473,1278,M,121.633522,2020-01-30,16,"{'model': 2020, 'device_score': 5, 'os': '.'}",MPago,Toluca,Física,26000,63,Aceptada,False,0.000000,1.216335,True

In [173]:
df = preprocesamiento_limpieza(df1)

In [174]:
df

,order_txn,last_order,id_user,genero,monto,fecha,hora,dispositivo,establecimiento,ciudad,tipo_tc,linea_tc,interes_tc,status_txn,is_prime,dcto,cashback,fraude
0,26965,522,88,m,426.943902,2020-01-30,3,"{'model': 2020, 'device_score': 5, 'os': 'andr...",abarrotes,NA_ciudad,fisica,72000,49,rechazada,no_prime,0.000000,4.269439,0
1,26966,20084,2956,m,751.806003,2020-01-30,23,"{'model': 2020, 'device_score': 5, 'os': 'web'}",super,merida,fisica,36000,36,aceptada,no_prime,0.000000,7.518060,0
2,26967,26134,3873,m,801.326533,2020-01-30,1,"{'model': 2020, 'device_score': 4, 'os': 'web'}",restaurante,NA_ciudad,fisica,33000,62,aceptada,si_prime,0.000000,8.013265,0
3,26968,20086,2956,m,449.934885,2020-01-30,20,"{'model': 2020, 'device_score': 3, 'os': 'andr...",farmacia,merida,fisica,36000,36,aceptada,no_prime,89.986977,3.599479,0
4,26969,16232,2397,f,259.084586,2020-01-30,6,"{'model': 2020, 'device_score': 1, 'os': '%%'}",NA_establecimiento,merida,virtual,43000,45,en proceso,no_prime,0.000000,5.181692,0
5,26970,2465,360,f,91.773720,2020-01-30,20,"{'model': 2020, 'device_score': 4, 'os': 'web'}",restaurante,toluca,virtual,68000,41,aceptada,si_prime,9.177372,1.651927,0
6,26971,10574,1582,no_def,600.481278,2020-01-30,3,"{'model': 2020, 'device_score': 4, 'os': '%%'}",farmacia,toluca,virtual,70000,55,en proceso,no_prime,0.000000,12.009626,0
7,26972,3936,600,f,891.672608,2020-01-30,3,"{'model': 2020, 'device_score': 3, 'os': 'web'}",mpago,merida,virtual,33000,63,aceptada,no_prime,0.000000,17.833452,0
8,26973,1104,182,f,415.251711,2020-01-30,12,"{'model': 2020, 'device_score': 5, 'os': '%%'}",NA_establecimiento,monterrey,fisica,64000,58,en proceso,no_prime,0.000000,4.152517,0
9,26974,8473,1278,m,121.633522,2020-01-30,16,"{'model': 2020, 'device_score': 5, 'os': '.'}",mpago,toluca,fisica,26000,63,aceptada,no_prime,0.000000,1.216335,1

In [42]:
df = feature_engineering(df)

In [43]:
df

,fisica,virtual,f,m,no_def,NA_establecimiento,abarrotes,farmacia,mpago,restaurante,super,monto,dcto,cashback,fraude,sin_dia,cos_dia,sin_hora,cos_hora
0,1.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,-0.204722,-0.369602,-0.470159,0,-1.133108e-15,1.0,7.071068e-01,7.071068e-01
1,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.025807,-0.369602,0.201170,0,-1.133108e-15,1.0,-2.588190e-01,9.659258e-01
2,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.213384,-0.369602,0.303505,0,-1.133108e-15,1.0,2.588190e-01,9.659258e-01
3,1.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,-0.117635,2.984359,-0.608607,0,-1.133108e-15,1.0,-8.660254e-01,5.000000e-01
4,0.0,1.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,-0.840548,-0.369602,-0.281641,0,-1.133108e-15,1.0,1.000000e+00,6.123234e-17
5,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,-1.474296,-0.027546,-1.011069,0,-1.133108e-15,1.0,-8.660254e-01,5.000000e-01
6,0.0,1.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.452612,-0.369602,1.129355,0,-1.133108e-15,1.0,7.071068e-01,7.071068e-01
7,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.555601,-0.369602,2.332852,0,-1.133108e-15,1.0,7.071068e-01,7.071068e-01
8,1.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,-0.249010,-0.369602,-0.494321,0,-1.133108e-15,1.0,1.224647e-16,-1.000000e+00
9,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,-1.361192,-0.369602,-1.101085,1,-1.133108e-15,1.0,-8.660254e-01,-5.000000e-01

In [20]:
X_test = df.drop(columns=['fraude'], axis=1).values
y_test = df['fraude']

In [21]:
y_pred, score = predicciones(model, X_test, y_test)

Score: 0.9

In [22]:
y_pred

array([0, 0, 0, 0, 0, 0, 0, 0, 0, 0])

In [23]:
score

0.9

In [24]:
X_test.shape

(10, 18)

In [25]:
precision, recall, accuracy = metricas(y_pred, y_test)

precision score: 0.9
recall score: 0.0
accuracy score: 0.9

In [26]:
precision_score(y_test, y_pred,average='micro')

0.9

In [28]:
accuracy_score(y_test, y_pred)

0.9

In [29]:
recall_score(y_test, y_pred)

0.0

In [33]:
pd.DataFrame([(precision, recall, accuracy)],
             columns=['precision','recall','accuracy'])

   precision  recall  accuracy
0        0.9     0.0       0.9

In [77]:
predicciones = pd.DataFrame(y_test)

In [79]:
predicciones.columns = ['y_test']

In [80]:
predicciones['y_pred']=pd.DataFrame(y_pred)

In [93]:
predicciones['id_user']=df['id_user']

In [99]:
list(predicciones.to_records())

[(0, 0, 0, 88),
 (1, 0, 0, 2956),
 (2, 0, 0, 3873),
 (3, 0, 0, 2956),
 (4, 0, 0, 2397),
 (5, 0, 0, 360),
 (6, 0, 0, 1582),
 (7, 0, 0, 600),
 (8, 0, 0, 182),
 (9, 1, 0, 1278)]

In [84]:
records=predicciones.to_records(index=False)

In [85]:
results = list(records)

In [86]:
results

[(0, 0),
 (0, 0),
 (0, 0),
 (0, 0),
 (0, 0),
 (0, 0),
 (0, 0),
 (0, 0),
 (0, 0),
 (1, 0)]

# Train and test data

In [5]:
df['fraude'].value_counts()

0    26165
1      810
Name: fraude, dtype: int64

In [6]:
df_no_fraude = df[df['fraude'] == 0]
df_si_fraude = df[df['fraude'] == 1]

In [7]:
print(df_no_fraude.shape)
print(df_si_fraude.shape)

(26165, 26)
(810, 26)

In [9]:
muestra_no_fraude = df_no_fraude.sample(n=810,random_state=12)

In [13]:
muestra_si_fraude = df_si_fraude

In [14]:
df_nuevo = pd.concat([muestra_si_fraude,muestra_no_fraude],axis=0)

In [15]:
df_nuevo['fraude'].value_counts()

0    810
1    810
Name: fraude, dtype: int64

In [16]:
df_nuevo.columns

Index(['fisica', 'virtual', 'f', 'm', 'no_def', 'NA_establecimiento',
       'abarrotes', 'farmacia', 'mpago', 'restaurante', 'super', 'NA_ciudad',
       'guadalajara', 'merida', 'monterrey', 'toluca', 'monto', 'dcto',
       'cashback', 'linea_tc', 'interes_tc', 'fraude', 'sin_dia', 'cos_dia',
       'sin_hora', 'cos_hora'],
      dtype='object')

In [18]:
df_nuevo.shape

(1620, 26)

# Train test

In [120]:
X = df_nuevo.drop(columns=['fraude'], axis=1).values

In [121]:
y = df_nuevo['fraude']

In [122]:
print(X.shape,y.shape)

(1620, 25) (1620,)

In [123]:
X_train, X_test, y_train, y_test = train_test_split(X, y, 
                                                    test_size=0.2, stratify=y, random_state=12)

In [124]:
print(X.shape, X_train.shape, X_test.shape)

(1620, 25) (1296, 25) (324, 25)

# Modelo

In [125]:
model = LogisticRegression(random_state=12).fit(X_train, y_train)

In [140]:
y_pred = model.predict(X_test)

In [141]:
score = model.score(X_test, y_test)

0.45987654320987653

In [142]:
from sklearn.metrics import precision_score, accuracy_score, recall_score

In [143]:
data_train_precision = precision_score(y_test, y_pred)

In [144]:
data_train_accuracy = accuracy_score(y_test, y_pred)

In [145]:
data_train_recall = recall_score(y_test, y_pred)

In [146]:
data_train_accuracy

0.45987654320987653

In [147]:
data_train_precision

0.46285714285714286

In [148]:
data_train_recall

0.5

In [149]:
X_train_prediction = model.predict(X_train)

In [150]:
X_train_prediction

array([0, 1, 1, ..., 1, 0, 0])

# GridSearch

In [50]:
best_estimators = []

In [51]:
from sklearn.model_selection import GridSearchCV

estimator = LogisticRegression()
grid_params = {'penalty':['l2','l1'],
               'solver':['sag','saga']}
        

gs = GridSearchCV(estimator,
                  grid_params, 
                  scoring = 'precision', 
                  cv = 5, 
                  n_jobs = -1)
        
#train
gs.fit(X_train, y_train)
#best estimator
best_estimators.append(gs)

/Users/ele/.pyenv/versions/dpa_env/lib/python3.7/site-packages/sklearn/model_selection/_search.py:921: UserWarning: One or more of the test scores are non-finite: [0.48865312 0.48865312        nan 0.48681581]
  category=UserWarning

In [53]:
best_estimators

[GridSearchCV(cv=5, estimator=LogisticRegression(), n_jobs=-1,
              param_grid={'penalty': ['l2', 'l1'], 'solver': ['sag', 'saga']},
              scoring='precision')]

In [60]:
predicted_scores = models[0].predict_proba(X_test)

In [57]:
from sklearn.metrics import precision_score

In [80]:
punto_corte = 0.5

In [81]:
labels_model_0 = [0 if score < punto_corte else 1 for score in predicted_scores[:,1]]

In [82]:
precision_0 = precision_score(y_test, labels_model_0,average='micro')

In [83]:
precision_0

0.45987654320987653